body{
    background-size: cover;
    font-family: Consolas, monaco, monospace;
    color: white;
    background-image: url("/Users/elizabethcoleman/general computer projects/cosmic portfolio/cosmic-portfolio/design.jpg");
}
footer {
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: Consolas, monaco, monospace;
  }
  .button{
    position: sticky;
    background-color: none; 
    border: none;
    color: white; /* White text */
    padding: 10px 7px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: right; /* Float the buttons side by side */
    font-size: 20px;
    text-decoration: none;
    height: 19px;
    font-family: Consolas, monaco, monospace;
  }
  
  .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Clear floats (clearfix hack) */
  .button:after {
    content: "";
    clear: both;
    display: none;
  }
  
  /* Add a background color on hover */
  .button:hover {
    background-color: #7b44f2;
    color: white;
  }