body{
    padding: 50px;
    background-size: cover;
    font-family: Consolas, monaco, monospace;
    color: white;
    background-color: black;
    } 
footer {
    color: white;
    text-align: center;
    margin-bottom: 0;
    font-family: Consolas, monaco, monospace;
  }
  .button {
    background-color: none;
    border: none;
    color: white; /* White text */
    padding: 10px 7px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 20px;
    text-decoration: none;
    height: 19px;
    font-family: Consolas, monaco, monospace;
  }
  
  .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }
  
  /* Add a background color on hover */
  .button:hover {
    background-color: #7b44f2;
    color: white;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .card {
    flex: 1 1 calc(25% - 20px); /* Adjust the width as needed */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .card h1, .card h3 {
    margin-top: 0;
  }
  
  .card img {
    max-width: 100%;
    height:auto;
    border-radius: 3px;
  }
  
  .card p {
    margin: 15px 0;
  }
  
  main {
    text-align: center; /* Center align main content */
  }