    /* CSS styles go here */
    body {
        background-size: cover;
        font-family: Consolas, monaco, monospace;
        background-image: url("https://i.pinimg.com/originals/23/93/d3/2393d33fc07eae9e0cbac9d6a44b7265.jpg");
    }
    header {
        color: #fff;
        padding: 150px;
        text-align: center;
        font-family: Consolas, monaco, monospace;
    }
    main {
        padding: 20px;
        font-family: Consolas, monaco, monospace;
    }
    footer {
        padding-top: 100px;
        color: white;
        text-align: center;
        margin-bottom: 0;
        font-family: Consolas, monaco, monospace;
      }
    .story{
        margin-left: 200px;
        margin-top: 150px;
        margin-bottom:450px;
        margin-right: 200px;
        color: white;
        height: 900px;
        font-size: 17px;
    }
    .header{
        border-bottom: 1px solid #000000;
      }
      .sticky {
        position: fixed;
        top: 0; 
        width:98%;
      }
      .sticky + .body {
        padding-top: 60px;
      }
      .button {
        background-color: none;
        border: none;
        color: white; /* White text */
        padding: 10px 7px; /* Some padding */
        cursor: pointer; /* Pointer/hand icon */
        font-size: 20px;
        text-decoration: none;
        height: 19px;
        font-family: Consolas, monaco, monospace;
      }
      
      .button:not(:last-child) {
        border-right: none; /* Prevent double borders */
      }
      
      /* Add a background color on hover */
      .button:hover {
        background-color: #7b44f2;
        color: white;
      }
      .auto-type {
        font-size: 24px !important;
    }
    main {
      text-align: center; /* Center align main content */
    }